<h3><%= @list.name %></h3>
<div class='container'>
  <table>
    <thead>
      <tr>
        <th>Description</th>
        <th>Days Left</th>
        <th>Complete</th>
      </tr>
    </thead>
      <% @todos.each do |todo| %>
    <tbody>
      <tr>
        <td width="200px"><%= todo.description %></td>
        <td width="200px"><%= distance_of_time_in_words_to_now(todo.expiry_date) %></td>
        <td width="200px"><%= link_to "Complete", complete_list_todo_path(@list,todo), method: :put %></td>
      </tr>
      <% end %>
    </tbody>
   </table>
</div>
<%= link_to "Add another todo", new_list_todo_path(@list) %>
 