<table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Complete</th>
    </tr>
  </thead>
  <tbody>
    <td>
      <% @todos.each do |todos| %>
        <%= link_to @todo.description, todo %>
      <% end %>
    </td>
    <td>
    </td>
    <td>
      <%= form_tag("/todos/complete/", :method => "post") do %>
        <ul >
        <% @todos.each do |todo| %> 
         <% if todo.complete == true %>
         <li><%= check_box_tag  "todos_checkbox[]",todo.id %></li> 
      <% else %>
         <li> <%= check_box_tag  "todos_checkbox[]",todo.id %></li>
      <% end %>
        </ul>
          <%= submit_tag("Mark as complete") %>
      <%end %>
    <% end %>    
  </td>
</tbody>
</table>